/* Password Generator CSS */
* {
	box-sizing: border-box;
	border-radius: 10px 0px 10px 0px;
}

body {
	background-color: #ff9633;
	color: #f5f5f5;
	display: flex;
	font-family: 'Comfortaa', display;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100vh;
}

p {
	margin: 5px 0;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
}

input[type='checkbox'] {
	margin-right: 0;
}

.main-container {
	background-color: #fa8719;
	box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
	padding: 20px;
	width: 350px;
	max-width: 100%;
}

.result-container {
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	min-height: 50px;
	height: auto;
	width: 100%;
}

.result-container #result {
	word-wrap: break-word;
	max-width: calc(100% - 40px);
}

.result-container .button {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

.button {
	border: none;
	color: #f5f5f5;
	cursor: pointer;
	font-family: 'Comfortaa', display;
	font-size: 16px;
	padding: 8px 12px;
	background-color: #ff9633;
}

.button-large {
	margin-bottom: 9px;
	display: block;
	width: 100%;
}

.button:hover {
	background-color: #f5f5f5;
	color: #ad5909;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

@media screen and (max-width: 400px) {
	.result-container {
		font-size: 14px;
	}
}

/* Password Validator CSS */
.password-validator-container {
	position: relative;
	top: 50px;
}

.validator-form {
	width: 300px;
}

.validator-form .validator-element {
	position: relative;
	right: 12px;
}

.validator-form .validator-element input {
	min-width: 300px;
	padding: 10px;
	font-size: 18px;
	border: 1px solid #888;
	background: #f5f5f5;
	box-sizing: border-box;
	border-radius: 50px;
	outline: none;
	text-indent: 10px;
	letter-spacing: 1px;
}

.validator-form .validator-element .toggle-password {
	position: absolute;
	width: 40px;
	height: 40px;
	color: #f5f5f5;
	top: 2px;
	right: -40px;
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
	font-size: 20px;
	cursor: pointer;
}

.validator-form .validator-element .toggle-password.active i.fa-eye {
	display: none;
}

.validator-form .validator-element .toggle-password.active i.fa-eye-slash {
	display: inline;
}

.validator-form .validator-element .toggle-password i.fa-eye-slash {
	display: none;
}

.validator-form .validator-element .password-rules {
	position: relative;
	top: 0px;
	left: 50px;
	transform: translateX(-13%);
	width: 90%;
	padding: 0px;
	height: 0px;
	color: black;
	background: #f5f5f5;
	border-radius: 5px;
	margin-top: 10px;
	box-sizing: border-box;
	opacity: 1;
	overflow: hidden;
	transition: height 300ms ease-in-out, opacity 300ms ease-in-out;
}

.validator-form .validator-element .password-rules.active {
	opacity: 1;
	padding: 10px;
	height: 250px;
}

.validator-form .validator-element .password-rules fieldset > div {
	margin: 15px 10px;
	font-weight: 600;
	color: red;
}

.validator-form .validator-element .password-rules fieldset > div.active {
	color: green;
}
